$primary-color: #7A2B58;
$secondary-color: #03B5B0;
$alternative-color: #FFCC33;
$text-primary-color: #FFFFFF;
$text-secondary-color: #707070;
$section-third-color: #353535;
$font-primary: 'Raleway', Raleway ,sans-serif;